@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary: #082333;
    --secondary: #0d405e;

    --accent1: #f2da05;
    --accent2: #F2F2F2;
    --option: #ccc;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
        "header"
        "aside"
        "main"
        "footer";
    gap: 5px;
    background: var(--accent2);
}

header,
footer {
    min-height: 120px;
}

header {
    grid-area: header;
    padding-top: 1rem;
    background: var(--primary);

}

.header-title{
    padding: 0 0 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-title h1,
.header-title h3{
    color: var(--accent1);    
}

.header-title h3{
    text-decoration: overline;
}

.header-title div{
    text-align: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    flex-direction: column;
}

nav a {
    color: var(--accent1);
    text-decoration: none;
    padding: 1rem;
    display: none;
}

nav a:hover {
    color: var(--accent2);
    background: var(--secondary);
}

.hamburguer {
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: var(--accent2);
    font-size: 2.5rem;
    border: none;
    background: none;
    cursor: pointer;
}

.hamburguer::before {
    content: "☰";
}

.hamburguer .open::after {
    content: "✕";
}

.open a {
    display: block;
}

.active{
    color: var(--accent2);
}

.active::before,
.active::after{
    content: "\2022";
    margin: 0 10px;
}

main {
    margin: 0 auto;
    grid-area: main;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color:var(--accent1);
    grid-area: footer;
    padding: 1rem 0 0 0;
    background: var(--secondary);
}

footer a{
    color: var(--silver);
}

footer p{
    padding: 1rem 0;
    text-align: center;
    background: var(--primary);
    width: 100%;
}

.logo{
    width: 300px;
}

/*                 Index page                 */
.home-aside {
    grid-area: aside;
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: 3rem;
}

.home-aside img{
    width: 90vw;
}

.newsletter{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 6px;
    width: 300px;
}

form h2{
    color:var(--accent2);
}

label{
    margin-top:1rem;
}

input[type="text"],
input[type="email"]{
    display: block;
    width: 100%;
    max-width: 600px;
    padding: .5rem;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.required{
    color: red;
}

input[type="submit"]{
    padding: 1rem;
    margin-top: 1rem;
    border: 1px solid var(--secondary);
    border-radius: 6px;
    background: var(--primary);
    color: var(--accent1);
}

input[type="submit"]:hover{
    background-color: var(--secondary);
    cursor: pointer;
}

.news{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.news-card{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    color: var(--primary);
    padding: 1rem;
    border-bottom: 1px solid var(--secondary);
    text-align: center;
}

.news-card img{
    width: 300px;
    border-radius: 1rem;
    transition: all .5s;
}

.news-card img:hover{
    width: 310px;
}

/*                 Thanks page                 */
.thanks-aside{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    color: var(--primary);
    text-align: center;
    gap: .5rem;
}

#thanks-btn{
    max-width: 200px;
    margin: 1rem auto;
}

/*                 Culture page                 */

.culture-aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--primary);
    border-radius: 6px;
}

.culture-aside a{
    text-decoration: none;
    font-size: 1.1rem;
    color: var(--primary);
}

.attractions,
.foods{
    color: var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.culture-title h2,
.culture-title h3{
    text-align: center;
    margin-top: 2rem;
}

.place{
    border: 1px solid var(--primary);
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 6px;
    text-align: center;
    max-width: 900px;
    width: 80%;
}

.place img{
    margin: 1rem 0;
    max-width: 100%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

figure{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

figcaption{
    padding: 10px;
    text-align: center;
    width: 400px;
    max-width: 100%;
    margin: -.5rem;
    color: var(--accent2);
    background: rgb(0, 0, 0);
}

.place-info{
    margin-top: 1rem;
}

h3{
    color: var(--primary);
}

.food{
    border: 1px solid var(--primary);
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 6px;
    text-align: center;
    max-width: 900px;
    width: 80%;
}

.food img{
    margin: 1rem 0;
    max-width: 100%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.food-info{
    margin-top: 1rem;
}

/*                 Data page                 */

aside{
    grid-area: aside;
}

table{
    border: 1px solid black;
    padding: 1rem;
    color: var(--primary);
    appearance: none;
    border-collapse: collapse;
}

.line-name{
    font-weight: bold;
    padding: 0 1rem 0 .5rem;
    background: var(--option);
}

caption{
    color: var(--primary);
    font-weight: bold;
}
td{
    padding: .5rem;
    border-bottom:1px solid var(--primary) ;
}

.infos{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.flag {
    width: 300px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flagcap{
    width: 300px;
}

.map-info{
    margin-top: 3rem;
    text-align: center;
    width: 100%;
}
.map{
    width: 100%;
    height: 40vh;
    border: none;
}

@media only screen and (min-width:798px) {
    body,
    .data-body {
        font-family: 'Poppins', sans-serif;
        display: grid;
        grid-template-columns: 2fr 4fr 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
            "header header header"
            "aside main main"
            "footer footer footer";
        gap: 5px;
    }

    .culture-body{
        grid-template-areas: "header header header"
                             "main main main"
                             "footer footer footer";
    }

    .header-title{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .header-title div{
        margin: 0 0 0 2rem;
        text-align: left;
    }

    nav a{
        display: block;
    }    
    .hamburguer{
        display: none;
    }
    nav{
        display: flex;
        flex-direction: row;
    }

    aside,
    main{
        margin: 1rem;
    }

    .main-index{
        align-items: start;
    }

    .home-aside img{
       max-width: 100%;
    }

    .news{
        align-items: start;
    }
    
    .news-card{
        width: 100%;
        align-items: start;
        flex-direction: row;
        text-align: left;
    }
    
    .news-card h3{
        margin-left: 1rem;  
    }

    footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;
    }

    .logo{
        grid-column: 1;
    }
    .newsletter{
        grid-column: 2;
    }

    footer p{
        grid-column: 1/3;
    }
}